// neutral

@neutral-white: #FFFFFF;
@neutral-50: #F3F3F3;
@neutral-100: #EFEFEF;
@neutral-150: #E1E1E1;
@neutral-200: #CBCBCB;
@neutral-300: #B2B2B2;
@neutral-400: #949494;
@neutral-500: #7F7F7F;
@neutral-550: #686868;
@neutral-600: #585858;
@neutral-700: #404040;
@neutral-800: #383838;
@neutral-900: #222222;

// alpha

@alpha-100: rgba(255, 255, 255, 0.12);
@alpha-200: rgba(255, 255, 255, 0.2);
@alpha-300: rgba(0, 0, 0, 0.08);
@alpha-400: rgba(0, 0, 0, 0.12);
@alpha-500: rgba(0, 0, 0, 0.2);
@alpha-600: rgba(0, 0, 0, 0.3);
@alpha-900: rgba(0, 0, 0, 0.9);

// blue

@blue-50: #EBF2FF;
@blue-100: #D6E5FF;
@blue-200: #AECBFF;
@blue-300: #85B1FF;
@blue-400: #4E8AFB;
@blue-500: #306AD9;
@blue-600: #1B55C1;
@blue-700: #003BA6;
@blue-800: #002B80;
@blue-900: #001F61;

// green

@green-50: #D0FFDF;
@green-100: #96FFBD;
@green-200: #5AEA98;
@green-300: #38D080;
@green-400: #00AB62;
@green-500: #00884D;
@green-600: #00703E;
@green-700: #00572F;
@green-800: #004122;
@green-900: #003017;

// red

@red-50: #FFEDEB;
@red-100: #FFDBD7;
@red-200: #FFB4AD;
@red-300: #FF8A81;
@red-400: #F54847;
@red-500: #D01C28;
@red-600: #B20019;
@red-700: #8B0011;
@red-800: #6A000A;
@red-900: #500006;

// orange

@orange-50: #FFEEE3;
@orange-100: #FFDDC6;
@orange-200: #FFB988;
@orange-300: #FF9036;
@orange-400: #D76F00;
@orange-500: #AC5700;
@orange-600: #8F4700;
@orange-700: #6F3600;
@orange-800: #542700;
@orange-900: #3F1B00;

// yellow

@yellow-50: #FFF2C6;
@yellow-100: #FFE388;
@yellow-200: #FFD112;
@yellow-300: #D4AD00;
@yellow-400: #AC8C00;
@yellow-500: #896F00;
@yellow-600: #715B00;
@yellow-700: #574600;
@yellow-800: #423400;
@yellow-900: #302500;

// purple

@purple-50: #F4EFFF;
@purple-100: #E9DEFF;
@purple-200: #D4BDFF;
@purple-300: #C09AFF;
@purple-400: #A170EB;
@purple-500: #8451C9;
@purple-600: #6F3BB2;
@purple-700: #591F97;
@purple-800: #470080;
@purple-900: #340060;
