
.icon-svg {
  fill: @brand-slide;
  &.white {
    fill: @fill-white;;
  }
}

.transition {
    --transition-fill: #444444;
    --transition-icon-fill: #FBE4DE;
    --transition-stroke: #BE6650;
}

.theme-type-dark {
    .transition {
        --transition-fill: #FBFBFB;
        --transition-icon-fill: #FF987E80;
        --transition-stroke: #FF987E;
    }
}